<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static',filename='script/cities.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script/crops.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Eco-Fertilization</title>
    {% block head %} {% endblock %}
</head>

<body>
    {% block body %} {% endblock %}
</body>
<script type="text/javascript" src="{{ url_for('static',filename='script/app.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='script/button.js') }}"></script>

</html>